body {
  background-color: rgb(225, 249, 241);
}

p {
  display: flex;
  justify-content: flex-start ;
}

.indent {
  margin-left: 1rem;
}

.content {
  display: block;
  margin: auto;
  padding: auto;
  width: 80%;
}

h1#title {
  display: flex;
  justify-content: center;

}

h2 {
  display: flex;
  justify-content: center;
}

#headline {
  margin: 50px 0;
  text-align: center;
}

#img-caption {
  margin: 15px 0 5px 0;
}

figcaption {
  display: block;
}

.main {
  background-color: rgb(225, 249, 241);
}

#img-div {
  justify-content: center;
  background-color: rgb(97, 238, 234);
}

img {
  display: block;
  padding-top: 2rem;
  max-width: 100%;
  height: auto;
}

#image {
  max-width: 100%;
  height: auto;
  margin: auto;
}

#img-caption {
  text-align: center;
  display: block;
  padding-bottom: 1rem;
}

#title {
  padding-top: 1rem;
}

h4 {
  text-align: center;
  font-weight: 100;
}

.title {
  background-color: rgb(225, 249, 241);
}

footer {
display: flex;
justify-content: center;
}

#tribute-link {
  color: grey;
}

blockquote {
  max-width: 40%;
  margin: auto;
  padding-top: 2rem;
}

li {
  margin: 16px 0;
}
